body{
  background-color: rgb(26,26,26);
  padding: 10px 60px 0px 60px;
}

ul{
  padding-left: 15px;
}

p,ul,li,a,h2{
  font-family: 'Archivo',sans-serif;
  color: rgb(255,255,255);
}

h1,h2{
    font-family: 'Archivo Black', sans-serif;
    color: White;
}

p{
  font-size: 1.1em;
}

h1{
  font-size: 3em;
  border-bottom-color: White;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

h2{
  font-size: 2em;
  color: #ff4d4d;
}

.sottotitolo{
  color: #ff3300;
}

a:hover{
  color: #e6b800;
  text-decoration: none;
}
