p,ul,li,a,h2{
  font-family: 'Archivo',sans-serif;
  color: White;
}

h1,h2{
    font-family: 'Archivo Black', sans-serif;
}

body{
  background-color: rgb(30, 30, 30);
}

div{
  padding: 20px 0px 10px 0px;
}

p{
  font-size: 1.1em;
  padding: 0px 200px 0px 60px;
}

h1{
  font-size: 3em;
  color: White;
}

h2{
  font-size: 2em;
  color: #e6b800;
  padding: 0px 200px 0px 60px;
}

.sottotitolo{
  color: #e6b800;
}

a:hover{
  color: #e6b800;
  text-decoration: none;
}
