body{
    background-color: White;
    width: 100%;
    min-height: 100%;
    margin:0;
    position: relative;
}

*{
    border:0px;
    margin:0px;
    padding:0px;
}

header{
   text-align: left;
   width: 100%;
   background-color: Black;
   height: auto;
   font-family: 'Archivo Black', sans-serif;
   text-align: center;
   position: fixed;
   z-index: 1;
}

#navbar{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: space-between;
    margin:  auto;
    padding: 10px;
    flex: 1;
    width: 100%;
    max-width: 685px;
}

#logo{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

header a{
  color: White;
}

header a:hover{
  color: #ff4d4d;
  text-decoration: none;
}

.testopagina{
  text-align: left;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 8%;
}

.testocentrato{
  text-align: center;
  padding-left: 30%;
  padding-right: 30%;
  padding-top: 8%;
}

.imgprogetto{
  width: 40vw;
}

h1{
  font-family: 'Archivo Black',sans-serif;
  font-size: 1.6em;
  color: Black;
  padding-bottom: 2%;
}

#primapagina h1{
  font-size: 3em;
  padding-bottom: 0%;
}

#primapagina h2{
  font-size: 1.5em;
  padding-bottom: 0%;
  text-align: center;
}

#primapagina p{
  text-align: center;
}

#primapagina a{
  color: Black;
}

#primapagina a:hover{
  color: #ff4d4d;
  text-decoration: none;
}

h2{
  font-family: 'Archivo Black',sans-serif;
  font-size: 1.2em;
  color: Black;
  padding: 0% 0% 0% 0%;
}

p{
  font-family: 'Archivo',sans-serif;
  font-weight: bold;
}

p a{
  color: #ff4d4d;
  text-decoration: none;
}

p a:hover{
  color: Black;
  text-decoration: none;
}

.linea{
  width: 24%;
  height: 2px;
  background-color: Black;
  margin-top: 4%;
  margin-bottom: 4%;
}

.lineagrande{
  margin-left: 40%;
  margin-right: 40%;
  height: 2px;
  background-color: Black;
  margin-top: 4%;
  margin-bottom: 4%;
  left: 50%;
}

.spaziovuoto{
  margin-bottom: 4%;
  margin-top: 4%;
  width: 10em;
  height: 0px;
  background-color: White;
}

/////

.card {
  border-color: White;
}

.card-img{
    border-radius: 0% 0% 0% 0%;
      border-color: Black;
      border-width: 10px;
}

.card-img-overlay {
    z-index: 0.5;
    position: absolute;
    color: Black;
    height: 3em;
    right: 40%;
    background-color: White;
    padding-left: 0px !important;
    padding-top: 0px;
    overflow: hidden;
}

.card-columns{
  padding: 8% 15% 0% 15%;
}

.card p{
  margin-top: -10px;
  font-size: 0.8em;
}

//////
